@import 'libs/normalize';

* {
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100vh;
    padding: 40px 15px 15px;
    background: url('../img/bg_main.jpg') center center / cover no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 60px;
    row-gap: 10px;

}

.note-container {
    grid-row: 2;
    position: relative;
}

.footer {
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-note {
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    z-index: 2;
}

@import 'blocks/navbar';
@import 'blocks/gear';
@import 'blocks/note';